:root {
    --nxt-red: #DD2D1E;
    --nxt-blue: #003F82;
    --white: #FFFFFF;
    --black: #000000;
}

#root {
    position: relative;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

body {
    position: relative;
}

.counter {
    text-align: center;
}


