.container-video {
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
  background-image: url('../assets/img/banda.jpg');
  background-size: cover;
}

.container-video iframe {
  border-radius: 20px;
  max-width: 660px;
  max-height: 415px;
  width: 560px;
  height: 315px;
}

.container-video h2 {
  font-size: 4.8rem;
  margin: 0 auto;
  width: fit-content;
  margin-top: 40px;
  padding: 20px;
  color: #FFF;
  border: 5px #FFF double;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.grid-videos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-videos div {
  padding-bottom: 4rem;
}

@media screen and (max-width: 700px) {
  .container-video iframe {
    width: 90%;
    height: 315px;
  }
  .grid-videos {
    display: block;
  }
}
