.slider1 {
  width: 100%;
  max-height: 80vh;
  min-height: 70vh;
  background-image: url('../assets/gif/we-are-the-revolution.gif');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider1 img {
  width: 100px;
  border-radius: 25px;
  opacity: 0.3;
  transform: rotate(10deg);
}

/* Efecto texto parpadea */

.slider1 img {
  animation-name: parpadeo;
  animation-duration: .1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: steps(5, end);
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@media screen and (max-width: 500px) {
  .slider1 {
    min-height: 85vh;
  }
}